
@font-face {
        font-family: 'Far.Nazanin';
        src:        url('http://www.fontfarsi.ir/Content/Fonts/EOT/Far_Nazanin.eot');
        src: local('☺'),
                    url('http://www.fontfarsi.ir/Content/Fonts/WOFF/Far_Nazanin.woff') format('woff'),
                    url('http://www.fontfarsi.ir/Content/Fonts/TTF/Far_Nazanin.ttf') format('truetype'),
                    url('http://www.fontfarsi.ir/Content/Fonts/SVG/Far_Nazanin.svg') format('svg');
        font-weight: normal;
        font-style: normal;
        }

@font-face {
    font-family:'BYekan';/*تعریف یک نام برای فونت*/
    src:url('font/BYekan.eot');/*اکسپلورر 9 به بعد*/
    src:local('bYekan'),/*بررسی نصب بودن فونت در سیستم کاربر*/
        local('b Yekan'),/*برای برخی از مرورگرها مانند سافاری*/
        url('font/BYekan.eot?#iefix') format('embedded-opentype'),/*هک برای اکسپلورر 8 و ماقبل*/
        url('font/BYekan.woff') format('woff'),/*مرورگر های جدید*/
        url('font/BYekan.ttf') format('truetype'),/*تمام مرورگرها به جزء اکسپلورر*/
        url('font/BYekan.svg#BYekan') format('svg');/*نسخه های قدیمی سیستم عامل iOS*/
    font-style:normal;
    font-weight:normal;
}

@font-face {
  font-family: 'BNazanin';
  src: url(fonts/BNazanin.woff);
}

* {
    box-sizing:border-box;
}

body {
    font-family: 'BNazanin', '@Microsoft Yahei Light';
    padding: 0;
    background-color:#fafafa;
    font-size: 16px;
}

:root {
  --background-color: #fafafa;
}



#page-wrap { /* to center the website */
     max-width:1200px;
     margin: 0 auto;
}

/* ------------------------------------- HEADER -------------------------------------*/

header {
  /* border: 1px solid red; */
  height: 400px;
  margin-top: 20px;
  background-image: url("img/header/header.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
}


/* ------------------------------------- TOP NAV ------------------------------------- */
.topnav {
  margin-top: 20px;;
  padding: 14px 7px;
  /* border: 1px solid red; */
  background-color: #fafafa; 
  box-shadow: 0 3px 15px -1px #D6D6D6;
  border-radius: 10px;
 
}

.topnav a {
  display: block;
  float: right;
  padding: 8px 12px;
  border-radius: 5px;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background-color .2s;
}

.topnav a:hover { background-color:#e2e2e2; }

.topnav .drop-icon {
  display: none;
}

.logo { 
  display: block;
  float: left; 
  width: 70px;
}

.search {
  position: relative;
  float: left;
  margin-left: 20px;
}

.search i {
  position: absolute;
  left: 10px;
  top: 48%;
  transform: translateY(-50%);
}

input#search {
  width: 30px;
  padding: 12px 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #eeeeee;
  direction: ltr;
  transition: width 0.4s ease-in-out ;
}
input#search:focus { width: 250px; }

@media screen and (max-width: 700px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.drop-icon {
    float: left;
    display: block;
    transition: .5s;
  }
}

@media screen and (max-width: 700px) {
  .responsive {position: relative;}
  .responsive .drop-icon {
    position: absolute;
    left: 7px;
    top: 14px;
    
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}


/* ------------------------------------- MAIN CONTENT ------------------------------------- */

section {
  margin-top: 20px;
}

.row {
  /* border: 1px solid red; */
  max-width:1280px;
  margin: 0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row img {
  width:100%;
  height: auto;
  border-radius: 10px;
  transition: .15s;
}

.row img:hover {
    cursor: pointer;
    -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
}

[class*="col-"] {
  float: left;
  padding: 8px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.img-container {
  position: relative;
}
.img-container img {
  display: block;
  width: 100%;
}
.img-container .img-title {
  position: absolute;
  bottom: 10px;
  left:5%;
  right: 5%;
  text-align: center;
  color:white;
  background: rgba(0, 0, 0, 0.3);
}

/* ------------------------------------- CARDS ------------------------------------- */
.card {
    position: relative;
    background-color: white;
    padding:10px;
    margin-top:18px;
    box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.1);
    font-size: 18px;
    border-radius: 10px;
    transition: 0.15s;   
}
.card:hover {
      box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.07);
      cursor: pointer; 
}
.cardinfo {
     position:absolute;
     bottom:1px;
     left:1px;
     font-size:15px;
     font-family: 'PT Sans', pt;
     width:100%;
     color:grey;
}

[class*="comment-"] {
     position:absolute;
     top:-10px;
     right:-10px;
     background:#FF4242;
     border-radius:50%;
     color:white;
     text-align: center;
}

.comment-card {
     width:22px; height:22px;
     font-size:14px;
}

.card i {
      padding: 10px;
      font-size:18px;
  }

.card a {
      text-decoration: none;
      color: black;
      font-size:18px;
  }

.card hr { opacity: 0.5; }
.card h4,h5,p { margin: 0; }
.card p { margin-bottom: 25px; transition : 0.5s }
.card p:hover { color : #E4212A; }

 /* ---------------- Small cards */
 
  /*.mo-row {
         overflow: hidden;
         margin:10px 0;
         font-size: 16px;
   }
   .mo-row .col-3 img {
       width:100%;
   }

  .mo-row .col-3 {
      width:30%;
      float:left;
      padding: 10px;
  }

  .mo-row .col-9 {
      width:70%;
      float:left;
      padding:5px;
  }  */

/* ------------------------------------- RESPONSIVE ------------------------------------- */
@media (max-width: 700px) {
    .col-6, .col-3 {
        width: 100%;
        padding: 0;

    }
    
}
@media (max-width: 800px) and (min-width: 700px) {
    #leftside {
        display: none;
	
    }
    #maincon { width: 75%; }


}


/* ------------------------------------- PAGINATION -------------------------------- */

.pagcontainer {
  
      text-align: center;
      margin: 20px 0;
     
      font-family: "PT Sans";
  }

.pagination {
  display: inline-block; 
  overflow: hidden;
  padding: 10px;
  border-radius: 2px;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  float: left;
  
  text-decoration: none;
  transition: background-color .5s;
  margin: 0 5px;
  background:#e0e0e0;
  box-shadow: 0 0 8px 0 #bbbbbb;
  border-radius: 50%;
  font-size: 16px;
  width: 32px; height:32px;
}

.pagination a:hover {
    background: #EF4E53;
    color: white;
}

#nextpagecolor {
    background:#f34545;
}


/* -------------------------------------- FOOTER -------------------------------------- */
 .footer {
      background: #121212;
      color: #f2f2f2;
      font-size: 16px;
      box-shadow: 0 8px 20px -2px #808080;
      border: 1px solid #CCCCCC;
      margin-top: 20px;
  }

.footer hr {
      width: 90%;
      opacity: 0.5;
  }

  .footer i {
      padding: 10px;
  }

  .footer a {
      text-decoration: none;
      color: white;
  }

  .footer .col25 {
         float: left;
         width: 25%;
         padding: 10px;
  }

  .footer:after {
    content: "";
    display: table;
    clear: both;}

     @media screen and (max-width:700px) {
    .footer .col25 {
        width: 100%;
    }

}

/* -------------------------------------- Slideshow -------------------------------------- */

.carousel-container {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  
}

.carousel-container img { 
  vertical-align: middle; 
  border-radius:5px;
}

.carousel { display: none; }


/* Number text (1/3 etc) */
.img-number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 15px;
  position: absolute;
  top: 0;
}

.carousel-text {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.dots {
  text-align:center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.active {
  background-color: #ff7c11;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

@media screen and (max-width:700px) {
    #slids { display :none; }
}